@page
@model ViewRequestDetailModel
@{
}
    <div class="container">
        <main role="main" class="pb-3">
            <h2 style="padding-top:25px">MY REQUEST DETAIL</h2>
            <hr />
            <div class="card shadow border-0 my-2 col-12">
                <div class="card-body p-4">
                    <div class="card shadow border-0 my-4">
                        <div class="card-body p-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Request Title
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Comment
                                        </th>
                                        <th>
                                            New Price
                                        </th>
                                        <th>
                                            Added at
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.RequestDetail)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Request.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NewPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                        </tr>
                                        <div>
                                            <a asp-page="/AdminPages/ImageRequestMng/Edit" asp-route-id="@item.RequestId">Back to editted image request</a>
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

