@using ImageSharingPlatform.Domain.Enums
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ImageSharingPlatform.Domain.Entities
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ImageSharingPlatform</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ImageSharingPlatform.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<div class="col-3"><a class="navbar-brand" asp-area="" asp-page="/Index">ImageSharingPlatform</a></div>
				<div class="col-6 d-flex align-items-center justify-content-center">
					<form id="searchForm">
						<input class="text-black p-1 m-0" style="min-width: 350px; border-radius: 12px 0px 0px 12px" type="search" placeholder="Search" aria-label="Search" name="query" />
						<button class="text-black p-1 m-0" style="border-radius: 0px 12px 12px 0px" type="button" onclick="search()">Search</button>
					</form>
				</div>
				<div class="navbar-collapse collapse d-flex justify-content-end">
					@{
						var session = HttpContextAccessor.HttpContext.Session;
						var loggedInUser = session.GetString("LoggedInUser");

						if (!string.IsNullOrEmpty(loggedInUser))
						{
							var user = JsonConvert.DeserializeObject<User>(loggedInUser);
							<div class="dropdown ml-auto">
								<div class="dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
									<p class="text-black text-lg-center m-0 mx-2"><span>@user.FirstName @user.LastName</span></p>
									<img style="border-radius: 1000px" src="@user.AvatarUrl" alt="User Avatar" width="40" height="40" />
								</div>
								<ul class="dropdown-menu bg-white mt-2 border-black" aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item text-black" asp-page="/Profile/Index">Profile</a></li>
									@{
										foreach (var role in user.Roles)
										{
											if (role.UserRole == UserRole.ROLE_ADMIN)
											{
												// Management Urls in asp razor pages route
												<li><a class="dropdown-item text-black" asp-area="Management" asp-page="/UserMng/Index">User Management</a></li>

											} else if (role.UserRole == UserRole.ROLE_ARTIST)
											{
												// Artist Urls in asp razor pages route
												<li><a class="dropdown-item text-black" asp-page="/ArtistPages/MySharedImages">My images</a></li>
											}
										}
									}
									@*TODO: ADD MORE LINKS*@
									<li><a class="dropdown-item text-black" asp-page="/Authentication/Logout">Logout</a></li>
								</ul>
							</div>
						}
						else
						{
							<div>
								<a class="navbar-brand" asp-page="/Authentication/Register">Register</a>
								<a class="navbar-brand" asp-page="/Authentication/Login">Login</a>
							</div>
						}
					}
				</div>
			</div>
		</nav>
	</header>
	<script>
		function search() {
			var query = document.getElementById('searchForm').elements['query'].value;

			// Update the window location to navigate to Search page with the query parameter
			window.location.href = '/Search?query=' + encodeURIComponent(query);
		}
	</script>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - ImageSharingPlatform - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>