@page
@model ImageSharingPlatform.Pages.OwnedSub.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OwnedSubscription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnedSubscription.PurchasedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnedSubscription.PurchasedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnedSubscription.SubscriptionPackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnedSubscription.SubscriptionPackage.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnedSubscription.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnedSubscription.User.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OwnedSubscription.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
