@page
@model IndexModel

<h2>MY IMAGE REQUEST</h2>

@{
    var userJson = HttpContext.Session.GetString("LoggedInUser");
    var useraccount = JsonConvert.DeserializeObject<User>(userJson);
    var isArtist = useraccount.Roles.Any(r => r.UserRole == UserRole.ROLE_ARTIST);
    if (isArtist)
    {
        <a asp-page="./ReceivedImageRequest" class="btn btn-primary">Received Image Request</a>
    }
}
<br/>
<p>
    <a asp-page="Create" class="btn btn-dark">Create New Image Request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].ImageBlob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].RequesterUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageRequests[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ImageRequests)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageBlob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequesterUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
