@page
@model ImageSharingPlatform.Pages.ArtistPages.MySharedImages.IndexModel



    
    <main role="main" class="pb-3 d-flex">
        <div class="flex-shrink-0 p-2 bg-white" style="width: 240px; box-shadow: 0px 0 10px -2px rgba(0, 0, 0, 0.7);">
            <div id="sidebar-content">
                <form method="get" class="d-flex flex-column justify-content-between">
                    <div>
                        <input type="hidden" name="query" value="@HttpContext.Request.Query["query"]" />
                        <fieldset class="mt-3 text-black border-black">
                            <legend>Premium filter:</legend>
                            <div class="d-flex align-items-center gap-2">
                                <input class="custom-radio" type="radio" id="premium" name="IsPremium" value="true"
                                @(HttpContext.Request.Query["isPremium"] == "true" ? "checked" : "") />
                                <label for="premium">Premium Only</label>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <input class="custom-radio" type="radio" id="non-premium" name="IsPremium" value="false"
                                @(HttpContext.Request.Query["isPremium"] == "false" ? "checked" : "") />
                                <label for="non-premium">Non-Premium Only</label>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <input class="custom-radio" type="radio" id="all" name="IsPremium" value=""
                                @(string.IsNullOrEmpty(HttpContext.Request.Query["isPremium"]) ? "checked" : "") />
                                <label for="all">All</label>
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info text-black">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    <div class="container">
        <h2 style="padding-top:25px">My Image</h2>
        <hr />
        <a asp-page="Create" class="btn btn-dark">Create New Image</a>
        <div class="row" style="padding-top:20px; padding:50px; background-color: ghostwhite">
            @foreach (var item in (IList<SharedImage>)Model.SharedImages.Content)
            {
                <div class="col-md-3">

                    <div class="card mb-2" style="background-color: #f8f9fa">
                        <img class="bd-placeholder-img card-img-top" src="@Html.DisplayFor(modelItem => item.ImageUrl)" />
                        <div class="card-body text-black">
                            <p class="card-text" style="text-align:center"><b>@Html.DisplayFor(modelItem => item.ImageName)</b></p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group">
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary text-black">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info text-black">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger text-black">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <ul class="pagination">
                        @if (Model.SharedImages.HasPrevious)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?query=@Model.SearchQuery&amp;category=@Model.IsPremium&amp;page=@(Model.SharedImages.Number - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (var i = 0; i <= Model.SharedImages.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.SharedImages.Number ? "active" : "")">
                                <a class="page-link" href="?query=@Model.SearchQuery&amp;category=@Model.IsPremium&amp;page=@i">@i</a>
                            </li>
                        }
                        @if (Model.SharedImages.HasNext)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?query=@Model.SearchQuery&amp;category=@Model.IsPremium&amp;page=@(Model.SharedImages.Number + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </ul>
            </nav>
        </div>
</div>
    </main>


<style>
    .card {
        min-height: 50%;
    }

    .card-img-top {
        height: 350px;
        object-fit: cover;
    }

    .custom-radio {
        width: 15px;
        height: 15px;
        margin-bottom: 0.4rem;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get header and footer elements
        const headerHeight = document.querySelector('header').offsetHeight;
        const footerHeight = document.querySelector('footer').offsetHeight;

        // Calculate the main content height
        const mainContent = document.getElementById('search-main');
        const sidebarContent = document.getElementById('sidebar-content');


        const windowHeight = window.innerHeight;
        const mainHeight = windowHeight - headerHeight - footerHeight;


        // Set the height of the main content
        mainContent.style.minHeight = mainHeight + 'px';
        sidebarContent.style.minHeight = mainHeight + 'px';
    });
</script>
