@page
@model ImageSharingPlatform.Pages.ArtistPages.MySharedImages.IndexModel

<div class="container">
    <main role="main" class="pb-3">
        <partial name="_Notification" />
        <h2 style="padding-top:25px">My Image</h2>
        <hr />
        <a asp-page="Create" class="btn btn-dark">Create New Image</a>
        <div class="row" style="padding-top:20px; padding:50px; background-color: ghostwhite">
            @foreach (var item in Model.SharedImage)
            {
                <div class="col-md-3">

                    <div class="card mb-2" style="background-color: #f8f9fa">
                        <img class="bd-placeholder-img card-img-top" src="@Html.DisplayFor(modelItem => item.ImageUrl)" />
                        <div class="card-body text-black">
                            <p class="card-text" style="text-align:center"><b>@Html.DisplayFor(modelItem => item.ImageName)</b></p>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="btn-group">
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary text-black">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info text-black">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger text-black">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </main>
</div>

<style>
    .card {
        min-height: 50%;
    }

    .card-img-top {
        height: 350px;
        object-fit: cover;
    }
</style>
